<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tu Primera Página - Blog - Matias Ghigi</title>
</head>
<body>
    <header>
        <h1>Tu Primera Página - Blog - Matias Ghigi</h1>
        <nav>
            <a href="{% url 'inicio' %}">Inicio</a> |
            <a href="{% url 'crear_autor' %}">Nuevo Autor</a> |
            <a href="{% url 'crear_categoria' %}">Nueva Categoría</a> |
            <a href="{% url 'crear_post' %}">Nuevo Post</a> |
            <a href="{% url 'buscar_post' %}">Buscar Post</a>
        </nav>
        <hr>
    </header>

    <main>
        {# Acá van a aparecer los contenidos de cada página hija #}
        {% block contenido %}
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p>Python - Tercera pre-entrega - CoderHouse</p>
    </footer>
</body>
</html>